.profile__edit-btn {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  background: url(../../../images/icons/arrow.svg) center no-repeat;
  cursor: pointer;
  align-self: end;
  margin-bottom: 6px;
  padding: 0;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

@media all and (max-width: 767px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
    margin-bottom: 3px;
  }
}
