.profile__add-btn {
  position: relative;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  background: #000;
  cursor: pointer;
  padding: 0;
  align-self: center;
  justify-self: center;
}

.profile__add-btn::after {
  content:'';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;
  background: #fff;
}

.profile__add-btn::before {
  content:'';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 2px;
  background: #fff;
}

.profile__add-btn:hover {
  opacity: 0.6;
}

@media all and (max-width: 767px) {
  .profile__add-btn {
    width: 282px;
  }

  .profile__add-btn::after {
    height: 16px;
  }

  .profile__add-btn::before {
    width: 16px;
  }
}
