.page {
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background: #000;
  margin: 0;
  padding: 0;
}

@media all and (max-width: 1023px) {
  .page {
    padding: 0 35px 0 35px;
  }
}

@media all and (max-width: 425px) {
  .page {
    padding: 0;
  }
}
