.profile {
  max-width: 880px;
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 150px;
  column-gap: 30px;
}

@media all and (max-width: 767px) {
  .profile {
    grid-template-columns: 1fr;
    row-gap: 36px;
  }
}

@media all and (max-width: 425px) {
  .profile  {
    padding-top: 42px;
    padding-right: 19px;
    padding-left: 19px;
  }
}
