.popup__close {
  position: absolute;
  background: url(../../../images/icons/close_icon.svg) center no-repeat;
  width: 40px;
  height: 40px;
  top: -40px;
  right: -40px;
  cursor: pointer;
  padding: 0;
  border: none;
}

.popup__close:hover {
  opacity: 0.6;
}

@media all and (max-width: 425px) {
  .popup__close {
    width: 26px;
    height: 26px;
    right: 0;
    top: -53px;
  }
}
