.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media all and (max-width: 767px) {
  .profile__name {
    font-size: 27px;
    line-height: 30px;
  }
}

@media all and (max-width: 500px) {
  .profile__name {
    text-align: center;
    padding-left: 24px;
  }
}
