.profile__edit-btn {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  margin-left: 18px;
  background: url(../../../icons/arrow.svg) center no-repeat;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

@media all and (max-width: 767px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
  }
}
