.element__like-btn {
  background: url(../../../images/icons/heart.svg) center no-repeat;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  padding: 0 0 0 24px;

}

.element__like-btn:hover {
  opacity: 0.5;
}
