.profile__info {
  display: grid;
  grid-template-columns: auto 24px;
  column-gap: 18px;
  row-gap: 10px;
  justify-content: start;
  align-content: center;
}

@media all and (max-width: 767px) {
  .profile__info {
    grid-template-columns: auto 18px;
    column-gap: 10px;
    row-gap: 11px;
  }
}


@media all and (max-width: 500px) {
  .profile__info {
    justify-content: center;
  }
}
