.footer {
  max-width: 880px;
}

@media all and (max-width: 1023px) {
  .footer {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media all and (max-width: 425px) {
  .footer {
    padding-left: 19px;
    padding-right: 19px;
  }
}
